:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    --vertDépart: rgb(73, 143, 73);
    --rougeFin: rgb(175, 73, 73);
}

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background: var(--greyLight-1);
}

h1 {
    text-align: center;
    font-size: calc(100% + 1vw);
}

.options {
    display: flex;
}

.btn {
    margin-left: 1rem;
    margin-bottom: 2rem;
    width: 8rem;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease;
    font-size: 1.2rem;
    border: none;
    background-color: var(--greyLight-1);
    color: var(--greyDark);
}

.btn:hover {
    color: var(--primary);
}

.btn:active {
    box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
}

.centre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* voir la disposition de la ligne centre de la page */


/*
.centre>:nth-child(n) {
    background-color: red;
    border: solid black 1rem;
}*/

.centre>:nth-child(n) {
    margin-right: 1rem;
}

.vizualise-generation {
    font-size: calc(100% + 1vw);
    text-align: center;
}

.parcoursProfondeur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    background: var(--greyLight-1);
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
    text-align: center;
}

.toggle-btn {
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}

#btn {
    left: 0;
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: var(--greyLight-1);
    border-radius: 30px;
    transition: .5s;
    box-shadow: .3rem .3rem .6rem var(--greyLight-3), -.2rem -.2rem .5rem var(--white);
    display: flex;
    align-items: center;
}

.point {
    margin-left: 1rem;
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 20px solid var(--primary);
    border-radius: 50%;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grille {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 50rem;
    width: 50rem;
    outline: 0.2rem solid black;
}

.cellule {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.25%;
    width: 6.25%;
    border: 0.12rem solid black;
}

.curseur {
    height: 1rem;
    width: 1rem;
    background-color: black;
}

.victoire {
    position: absolute;
    height: 17rem;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--greyLight-2);
    font-size: 1.5rem;
    border: solid black 0.1rem;
    background-color: var(--greyLight-1);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.labyrinthe-encore {
    margin-top: 5rem;
}

.center-left {}

@media (max-height: 1000px),
(max-width: 1050px) {
    .grille {
        height: 20rem;
        width: 20rem;
    }
    .curseur {
        height: 0.5rem;
        width: 0.5rem;
    }
}

@media (max-width: 680px) {
    .center-right,
    .center-left {
        display: none;
    }
    .centre {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}