:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    --vertDépart: rgb(73, 143, 73);
    --rougeFin: rgb(175, 73, 73);
}

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background: var(--greyLight-1);
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.options {
    display: flex;
}

.btn {
    margin-left: 1rem;
    margin-bottom: 2rem;
    width: 8rem;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease;
    font-size: 1.2rem;
    border: none;
    background-color: var(--greyLight-1);
    color: var(--greyDark);
}

.btn:hover {
    color: var(--primary);
}

.btn:active {
    box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
}

.grille {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 50rem;
    width: 50rem;
    outline: 0.2rem solid black;
}

.cellule {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.25%;
    width: 6.25%;
    border: 0.12rem solid black;
}

.curseur {
    height: 1rem;
    width: 1rem;
    background-color: black;
}

.victoire {
    position: absolute;
    height: 17rem;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--greyLight-2);
    font-size: 1.5rem;
    border: solid black 0.1rem;
    background-color: var(--greyLight-1);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.labyrinthe-encore {
    margin-top: 5rem;
}

@media (max-height: 1000px)or (max-width: 790px) {
    .grille {
        height: 20rem;
        width: 20rem;
    }
}